In [126]:
!pip3 install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from openpyxl) (2.0.0)

In [366]:
import pandas as pd
import json
import requests
FIREBASE_URL = "https://childmonitoring-951c3-default-rtdb.firebaseio.com/Users.json"

In [427]:
data = {
    'goutham': {
        'age': '78',
        'id':'2',
        'gender':'boy',
        'height': '110',
        'mail': 'goutham@gmail.com',
        'name': 'goutham',
        'password': 'G@210457',
        'weight': '20'
    },
    'john123': {
        'age': '65',
        'id':'3',
        'gender':'boy',
        'height': '130',
        'mail': 'john123@gmail.com',
        'name': 'John',
        'password': 'pass456',
        'weight': '19'
    },
    'bharani': {
        'age': '83',
        'id':'4',
        'gender':'girl',
        'height': '141',
        'mail': 'bharani@gmail.com',
        'name': 'Bharani',
        'password': 'Bha@210457',
        'weight': '28'
    }
}

# Sending the data to Firebase
response = requests.put(FIREBASE_URL, json=data)

if response.status_code == 200:
    print("Data pushed successfully:", response.json())
else:
    print("Error:", response.status_code, response.text)

Data pushed successfully: {'bharani': {'age': '83', 'gender': 'girl', 'height': '141', 'id': '4', 'mail': 'bharani@gmail.com', 'name': 'Bharani', 'password': 'Bha@210457', 'weight': '28'}, 'goutham': {'age': '78', 'gender': 'boy', 'height': '110', 'id': '2', 'mail': 'goutham@gmail.com', 'name': 'goutham', 'password': 'G@210457', 'weight': '20'}, 'john123': {'age': '65', 'gender': 'boy', 'height': '130', 'id': '3', 'mail': 'john123@gmail.com', 'name': 'John', 'password': 'pass456', 'weight': '19'}}

In [428]:


# Your Firebase Realtime Database URL

response = requests.get(FIREBASE_URL)

if response.status_code == 200:
    data = response.json()
    print("Retrieved data:", data)
else:
    print("Error:", response.status_code, response.text)

Retrieved data: {'bharani': {'age': '83', 'gender': 'girl', 'height': '141', 'id': '4', 'mail': 'bharani@gmail.com', 'name': 'Bharani', 'password': 'Bha@210457', 'weight': '28'}, 'goutham': {'age': '78', 'gender': 'boy', 'height': '110', 'id': '2', 'mail': 'goutham@gmail.com', 'name': 'goutham', 'password': 'G@210457', 'weight': '20'}, 'john123': {'age': '65', 'gender': 'boy', 'height': '130', 'id': '3', 'mail': 'john123@gmail.com', 'name': 'John', 'password': 'pass456', 'weight': '19'}}

In [432]:
df = pd.DataFrame(data)

In [433]:
print(df)

                    bharani            goutham            john123
age                      83                 78                 65
gender                 girl                boy                boy
height                  141                110                130
id                        4                  2                  3
mail      bharani@gmail.com  goutham@gmail.com  john123@gmail.com
name                Bharani            goutham               John
password         Bha@210457           G@210457            pass456
weight                   28                 20                 19

In [434]:
df = df.T
df["age"] = pd.to_numeric(df["age"])
df["height"] = pd.to_numeric(df["height"])
df["weight"] = pd.to_numeric(df["weight"])
df["BMI"] = round((df["weight"]*10000)/(df["height"]**2),2)
print(df)

         age gender  height id               mail     name    password  \
bharani   83   girl     141  4  bharani@gmail.com  Bharani  Bha@210457
goutham   78    boy     110  2  goutham@gmail.com  goutham    G@210457
john123   65    boy     130  3  john123@gmail.com     John     pass456

         weight    BMI
bharani      28  14.08
goutham      20  16.53
john123      19  11.24

In [435]:
df_boy = df[df['gender'] == 'boy']
df_girl = df[df['gender'] == 'girl']

In [436]:
print('boy_data')
print(df_boy)
print('girl_data')
print(df_girl)

boy_data
         age gender  height id               mail     name  password  weight  \
goutham   78    boy     110  2  goutham@gmail.com  goutham  G@210457      20
john123   65    boy     130  3  john123@gmail.com     John   pass456      19

           BMI
goutham  16.53
john123  11.24
girl_data
         age gender  height id               mail     name    password  \
bharani   83   girl     141  4  bharani@gmail.com  Bharani  Bha@210457

         weight    BMI
bharani      28  14.08

In [437]:
bh = pd.read_excel("HFA_Boys.xlsx")
bh['age']= bh['Month']
bh = bh.drop("Month",axis = 1)
print(bh)

     L         M        S   StDev   SD5neg   SD4neg   SD3neg   SD2neg  \
0    1  110.2647  0.04164  4.5914   87.308   91.899   96.490  101.082
1    1  110.8006  0.04172  4.6226   87.688   92.310   96.933  101.555
2    1  111.3338  0.04180  4.6538   88.065   92.719   97.373  102.026
3    1  111.8636  0.04187  4.6837   88.445   93.129   97.812  102.496
4    1  112.3895  0.04195  4.7147   88.816   93.531   98.245  102.960
..  ..       ...      ...     ...      ...      ...      ...      ...
163  1  176.4453  0.04168  7.3542  139.674  147.028  154.383  161.737
164  1  176.4724  0.04159  7.3395  139.775  147.114  154.454  161.793
165  1  176.4976  0.04150  7.3247  139.874  147.199  154.524  161.848
166  1  176.5211  0.04142  7.3115  139.964  147.275  154.587  161.898
167  1  176.5432  0.04134  7.2983  140.052  147.350  154.648  161.947

      SD1neg      SD0      SD1      SD2      SD3      SD4  age
0    105.673  110.265  114.856  119.448  124.039  128.630   61
1    106.178  110.801  115.423  120.046  124.668  129.291   62
2    106.680  111.334  115.988  120.641  125.295  129.949   63
3    107.180  111.864  116.547  121.231  125.915  130.599   64
4    107.675  112.390  117.104  121.819  126.534  131.248   65
..       ...      ...      ...      ...      ...      ...  ...
163  169.091  176.445  183.800  191.154  198.508  205.862  224
164  169.133  176.472  183.812  191.151  198.491  205.830  225
165  169.173  176.498  183.822  191.147  198.472  205.796  226
166  169.210  176.521  183.833  191.144  198.456  205.767  227
167  169.245  176.543  183.841  191.140  198.438  205.736  228

[168 rows x 15 columns]

In [438]:
print(df_boy)

         age gender  height id               mail     name  password  weight  \
goutham   78    boy     110  2  goutham@gmail.com  goutham  G@210457      20
john123   65    boy     130  3  john123@gmail.com     John   pass456      19

           BMI
goutham  16.53
john123  11.24

In [439]:
height_df_boy = pd.DataFrame()
height_df_boy['age'] = df_boy['age']
height_df_boy['id'] = df_boy['id']
height_df_boy['height'] = df_boy['height']
merged_bh = pd.merge(height_df_boy, bh, left_on='age', right_on='age', how='left')
merged_bh.set_index(df_boy.index, inplace=True)
# print(merged_bh)
# Calculate L * M * S and create a new column in df_boy
merged_bh['HZ'] = ((merged_bh['height']/merged_bh['M'])**merged_bh['L'] -1)/(merged_bh['L'] * merged_bh['S'])
# print(merged_df_boy)
# print(merged_df_boy['HZ'])
# Now you can use merged_df_boy to see the updated DataFrame
height_df_boy = merged_bh

# Show the updated df_boy with the new column
print(height_df_boy)

         age id  height  L         M        S   StDev  SD5neg  SD4neg  \
goutham   78  2     110  1  118.8700  0.04295  5.1055  93.343  98.448
john123   65  3     130  1  112.3895  0.04195  4.7147  88.816  93.531

          SD3neg   SD2neg   SD1neg     SD0      SD1      SD2      SD3  \
goutham  103.554  108.659  113.765  118.87  123.975  129.081  134.186
john123   98.245  102.960  107.675  112.39  117.104  121.819  126.534

             SD4        HZ
goutham  139.292 -1.737353
john123  131.248  3.735201

In [440]:
weight_df_boy = pd.DataFrame()
weight_df_boy[['age','id','weight']] = df_boy[['age','id','weight']]
print(weight_df_boy)

         age id  weight
goutham   78  2      20
john123   65  3      19

In [441]:
bw = pd.read_excel("WFA_Boys.xlsx")
bw['age']=bw['Month']
bw = bw.drop('Month',axis=1)
print(bw)

         L        M        S  SD4neg  SD3neg  SD2neg  SD1neg     SD0     SD1  \
0  -0.2026  18.5057  0.12988  11.070  12.718  14.367  16.279  18.506  21.109
1  -0.2130  18.6802  0.13028  11.171  12.833  14.496  16.428  18.680  21.319
2  -0.2234  18.8563  0.13067  11.272  12.950  14.627  16.578  18.856  21.530
3  -0.2338  19.0340  0.13105  11.376  13.067  14.759  16.729  19.034  21.744
4  -0.2443  19.2132  0.13142  11.480  13.186  14.892  16.882  19.213  21.959
5  -0.2548  19.3940  0.13178  11.587  13.307  15.027  17.036  19.394  22.176
6  -0.2653  19.5765  0.13213  11.694  13.429  15.164  17.192  19.576  22.395
7  -0.2758  19.7607  0.13246  11.804  13.553  15.302  17.350  19.761  22.615
8  -0.2864  19.9468  0.13279  11.915  13.679  15.442  17.509  19.947  22.839
9  -0.2969  20.1344  0.13311  12.027  13.805  15.583  17.670  20.134  23.063
10 -0.3075  20.3235  0.13342  12.141  13.934  15.726  17.832  20.324  23.290
11 -0.3180  20.5137  0.13372  12.256  14.063  15.870  17.996  20.514  23.517
12 -0.3285  20.7052  0.13402  12.371  14.193  16.015  18.160  20.705  23.747
13 -0.3390  20.8979  0.13432  12.488  14.324  16.160  18.326  20.898  23.978
14 -0.3494  21.0918  0.13462  12.605  14.456  16.307  18.492  21.092  24.210
15 -0.3598  21.2870  0.13493  12.722  14.588  16.454  18.659  21.287  24.445
16 -0.3701  21.4833  0.13523  12.841  14.721  16.602  18.828  21.483  24.680
17 -0.3804  21.6810  0.13554  12.960  14.855  16.751  18.997  21.681  24.918
18 -0.3906  21.8799  0.13586  13.079  14.990  16.900  19.167  21.880  25.158
19 -0.4007  22.0800  0.13618  13.199  15.125  17.050  19.338  22.080  25.399
20 -0.4107  22.2813  0.13652  13.318  15.259  17.201  19.510  22.281  25.642
21 -0.4207  22.4837  0.13686  13.438  15.395  17.352  19.682  22.484  25.887
22 -0.4305  22.6872  0.13722  13.558  15.531  17.503  19.855  22.687  26.134
23 -0.4402  22.8915  0.13759  13.677  15.666  17.655  20.029  22.892  26.382
24 -0.4499  23.0968  0.13797  13.797  15.802  17.807  20.203  23.097  26.632
25 -0.4594  23.3029  0.13838  13.915  15.937  17.958  20.377  23.303  26.885
26 -0.4688  23.5101  0.13880  14.033  16.072  18.110  20.552  23.510  27.138
27 -0.4781  23.7182  0.13923  14.151  16.207  18.262  20.727  23.718  27.394
28 -0.4873  23.9272  0.13969  14.268  16.341  18.414  20.903  23.927  27.652
29 -0.4964  24.1371  0.14016  14.385  16.475  18.565  21.078  24.137  27.911
30 -0.5053  24.3479  0.14065  14.502  16.609  18.717  21.255  24.348  28.172
31 -0.5142  24.5595  0.14117  14.617  16.742  18.868  21.431  24.560  28.436
32 -0.5229  24.7722  0.14170  14.732  16.875  19.019  21.607  24.772  28.701
33 -0.5315  24.9858  0.14226  14.845  17.008  19.170  21.784  24.986  28.969
34 -0.5399  25.2005  0.14284  14.958  17.140  19.321  21.961  25.200  29.239
35 -0.5482  25.4163  0.14344  15.071  17.271  19.472  22.138  25.416  29.512
36 -0.5564  25.6332  0.14407  15.182  17.402  19.622  22.316  25.633  29.787
37 -0.5644  25.8513  0.14472  15.292  17.532  19.772  22.494  25.851  30.064
38 -0.5722  26.0706  0.14539  15.402  17.662  19.922  22.672  26.071  30.344
39 -0.5799  26.2911  0.14608  15.511  17.792  20.072  22.851  26.291  30.627
40 -0.5873  26.5128  0.14679  15.620  17.921  20.222  23.031  26.513  30.912
41 -0.5946  26.7358  0.14752  15.727  18.050  20.372  23.210  26.736  31.199
42 -0.6017  26.9602  0.14828  15.834  18.178  20.522  23.390  26.960  31.490
43 -0.6085  27.1861  0.14905  15.940  18.306  20.672  23.571  27.186  31.784
44 -0.6152  27.4137  0.14984  16.045  18.433  20.822  23.753  27.414  32.080
45 -0.6216  27.6432  0.15066  16.150  18.561  20.972  23.936  27.643  32.381
46 -0.6278  27.8750  0.15149  16.254  18.689  21.123  24.119  27.875  32.685
47 -0.6337  28.1092  0.15233  16.359  18.817  21.275  24.305  28.109  32.993
48 -0.6393  28.3459  0.15319  16.463  18.945  21.428  24.492  28.346  33.305
49 -0.6446  28.5854  0.15406  16.568  19.075  21.582  24.681  28.585  33.621
50 -0.6496  28.8277  0.15493  16.673  19.205  21.737  24.871  28.828  33.941
51 -0.6543  29.0731  0.15581  16.778  19.336  21.894  25.064  29.073  34.266
52 -0.6585  29.3217  0.15670  16.884  19.468  22.052  25.259  29.322  34.595
53 -0.6624  29.5736  0.15760  16.990  19.601  22.212  25.457  29.574  34.929
54 -0.6659  29.8289  0.15850  17.096  19.735  22.373  25.656  29.829  35.268
55 -0.6689  30.0877  0.15940  17.203  19.870  22.537  25.859  30.088  35.612
56 -0.6714  30.3501  0.16031  17.310  20.006  22.701  26.064  30.350  35.960
57 -0.6735  30.6160  0.16122  17.418  20.143  22.868  26.271  30.616  36.313
58 -0.6752  30.8854  0.16213  17.526  20.281  23.036  26.481  30.885  36.671
59 -0.6764  31.1586  0.16305  17.634  20.420  23.206  26.694  31.159  37.035

       SD2     SD3     SD4  age
0   24.165  27.770  31.375   61
1   24.423  28.093  31.764   62
2   24.683  28.420  32.157   63
3   24.946  28.750  32.554   64
4   25.210  29.083  32.956   65
5   25.477  29.420  33.362   66
6   25.747  29.760  33.772   67
7   26.018  30.102  34.186   68
8   26.293  30.449  34.605   69
9   26.569  30.799  35.029   70
10  26.848  31.153  35.457   71
11  27.129  31.508  35.888   72
12  27.412  31.868  36.324   73
13  27.697  32.231  36.765   74
14  27.984  32.598  37.211   75
15  28.275  32.969  37.664   76
16  28.567  33.343  38.120   77
17  28.862  33.723  38.583   78
18  29.161  34.107  39.054   79
19  29.461  34.495  39.529   80
20  29.765  34.889  40.013   81
21  30.072  35.287  40.503   82
22  30.382  35.692  41.001   83
23  30.695  36.100  41.506   84
24  31.011  36.515  42.019   85
25  31.330  36.936  42.542   86
26  31.653  37.363  43.073   87
27  31.979  37.795  43.612   88
28  32.309  38.236  44.163   89
29  32.642  38.682  44.722   90
30  32.979  39.135  45.291   91
31  33.320  39.597  45.873   92
32  33.665  40.065  46.464   93
33  34.015  40.542  47.069   94
34  34.368  41.027  47.686   95
35  34.727  41.521  48.315   96
36  35.091  42.025  48.959   97
37  35.459  42.538  49.617   98
38  35.832  43.060  50.287   99
39  36.210  43.591  50.972  100
40  36.593  44.131  51.669  101
41  36.981  44.682  52.382  102
42  37.376  45.244  53.113  103
43  37.774  45.815  53.855  104
44  38.179  46.397  54.615  105
45  38.591  46.992  55.394  106
46  39.009  47.598  56.188  107
47  39.433  48.214  56.996  108
48  39.864  48.843  57.822  109
49  40.301  49.483  58.664  110
50  40.744  50.132  59.519  111
51  41.195  50.792  60.389  112
52  41.652  51.463  61.274  113
53  42.116  52.146  62.175  114
54  42.587  52.838  63.089  115
55  43.063  53.538  64.012  116
56  43.547  54.248  64.949  117
57  44.038  54.968  65.898  118
58  44.534  55.695  66.857  119
59  45.038  56.434  67.829  120

In [442]:
merged_bw = pd.DataFrame()
# print(merged_bw)
merged_bw = pd.merge(weight_df_boy, bw, left_on='age', right_on='age', how='left')
merged_bw.set_index(df_boy.index, inplace=True)
# print(merged_bw)
# Calculate L * M * S and create a new column in df_boy
merged_bw['WZ'] = ((merged_bw['weight']/merged_bw['M'])**merged_bw['L'] -1)/(merged_bw['L'] * merged_bw['S'])
# print(merged_df_boy)
# print(merged_df_boy['WZ'])
# Now you can use merged_df_boy to see the updated DataFrame
weight_df_boy = merged_bw

# Show the updated df_boy with the new column
print(weight_df_boy)

         age id  weight       L        M        S  SD4neg  SD3neg  SD2neg  \
goutham   78  2      20 -0.3804  21.6810  0.13554   12.96  14.855  16.751
john123   65  3      19 -0.2443  19.2132  0.13142   11.48  13.186  14.892

         SD1neg     SD0     SD1     SD2     SD3     SD4        WZ
goutham  18.997  21.681  24.918  28.862  33.723  38.583 -0.604660
john123  16.882  19.213  21.959  25.210  29.083  32.956 -0.085023

In [443]:
bb = pd.read_excel("BFA_Boys.xlsx")
bb['age']=bb['Month']
bb = bb.drop('Month',axis=1)
print(bb)

          L        M        S  SD4neg  SD3neg  SD2neg  SD1neg     SD0     SD1  \
0   -0.7387  15.2641  0.08390  11.204  12.118  13.031  14.071  15.264  16.645
1   -0.7621  15.2616  0.08414  11.204  12.115  13.027  14.066  15.262  16.648
2   -0.7856  15.2604  0.08439  11.204  12.114  13.024  14.063  15.260  16.653
3   -0.8089  15.2605  0.08464  11.205  12.114  13.022  14.061  15.260  16.659
4   -0.8322  15.2619  0.08490  11.207  12.114  13.021  14.060  15.262  16.667
..      ...      ...      ...     ...     ...     ...     ...     ...     ...
163 -0.9048  22.0374  0.12911  14.148  15.811  17.473  19.504  22.037  25.281
164 -0.8892  22.0760  0.12920  14.151  15.823  17.495  19.535  22.076  25.324
165 -0.8735  22.1140  0.12930  14.153  15.834  17.515  19.564  22.114  25.366
166 -0.8578  22.1514  0.12939  14.155  15.845  17.535  19.594  22.151  25.408
167 -0.8419  22.1883  0.12948  14.156  15.855  17.554  19.622  22.188  25.449

        SD2     SD3     SD4  age
0    18.259  20.166  22.072   61
1    18.273  20.200  22.127   62
2    18.290  20.238  22.186   63
3    18.308  20.277  22.247   64
4    18.328  20.320  22.312   65
..      ...     ...     ...  ...
163  29.572  35.503  41.434  224
164  29.609  35.507  41.406  225
165  29.646  35.512  41.378  226
166  29.681  35.515  41.348  227
167  29.716  35.516  41.317  228

[168 rows x 13 columns]

In [444]:
bmi_df_boy = pd.DataFrame()
bmi_df_boy[['age','id','BMI']] = df_boy[['age','id','BMI']]
print(bmi_df_boy)

         age id    BMI
goutham   78  2  16.53
john123   65  3  11.24

In [445]:
merged_bb = pd.DataFrame()
# print(merged_bb)
merged_bb = pd.merge(bmi_df_boy, bb, left_on='age', right_on='age', how='left')
merged_bb.set_index(df_boy.index, inplace=True)
# print(merged_bb)
# Calculate L * M * S and create a new column in df_boy
merged_bb['BZ'] = ((merged_bb['BMI']/merged_bb['M'])**merged_bb['L'] -1)/(merged_bb['L'] * merged_bb['S'])
# print(merged_bb)
# print(merged_bb['BZ'])
# Now you can use merged_df_boy to see the updated DataFrame
bmi_df_boy = merged_bb

# Show the updated df_boy with the new column
print(bmi_df_boy)

         age id    BMI       L        M        S  SD4neg  SD3neg  SD2neg  \
goutham   78  2  16.53 -1.1230  15.3825  0.08865  11.292  12.189  13.086
john123   65  3  11.24 -0.8322  15.2619  0.08490  11.207  12.114  13.021

         SD1neg     SD0     SD1     SD2     SD3     SD4        BZ
goutham  14.136  15.382  16.888  18.745  21.097  23.449  0.779658
john123  14.060  15.262  16.667  18.328  20.320  22.312 -4.102910

In [446]:
## for girls

In [447]:
gh = pd.read_excel("HFA_girls.xlsx")
gh['age']= gh['Month']
gh = gh.drop("Month",axis = 1)
print(gh)

     L         M        S   StDev   SD5neg   SD4neg   SD3neg   SD2neg  \
0    1  109.6016  0.04355  4.7731   85.736   90.509   95.282  100.055
1    1  110.1258  0.04364  4.8059   86.096   90.902   95.708  100.514
2    1  110.6451  0.04373  4.8385   86.453   91.291   96.130  100.968
3    1  111.1596  0.04382  4.8710   86.805   91.676   96.547  101.418
4    1  111.6696  0.04390  4.9023   87.158   92.060   96.963  101.865
..  ..       ...      ...     ...      ...      ...      ...      ...
163  1  163.1418  0.04023  6.5632  130.326  136.889  143.452  150.015
164  1  163.1469  0.04019  6.5569  130.363  136.919  143.476  150.033
165  1  163.1508  0.04016  6.5521  130.390  136.942  143.494  150.047
166  1  163.1534  0.04012  6.5457  130.425  136.971  143.516  150.062
167  1  163.1548  0.04009  6.5409  130.450  136.991  143.532  150.073

      SD1neg      SD0      SD1      SD2      SD3      SD4  age
0    104.828  109.602  114.375  119.148  123.921  128.694   61
1    105.320  110.126  114.932  119.738  124.543  129.349   62
2    105.807  110.645  115.484  120.322  125.161  129.999   63
3    106.289  111.160  116.031  120.902  125.773  130.644   64
4    106.767  111.670  116.572  121.474  126.376  131.279   65
..       ...      ...      ...      ...      ...      ...  ...
163  156.579  163.142  169.705  176.268  182.831  189.395  224
164  156.590  163.147  169.704  176.261  182.818  189.374  225
165  156.599  163.151  169.703  176.255  182.807  189.359  226
166  156.608  163.153  169.699  176.245  182.791  189.336  227
167  156.614  163.155  169.696  176.237  182.777  189.318  228

[168 rows x 15 columns]

In [448]:
height_df_girl = pd.DataFrame()
height_df_girl['age'] = df_girl['age']
height_df_girl['id'] = df_girl['id']
height_df_girl['height'] = df_girl['height']
merged_gh = pd.merge(height_df_girl, gh, left_on='age', right_on='age', how='left')
merged_gh.set_index(df_girl.index, inplace=True)
# print(merged_gh)
# Calculate L * M * S and create a new column in df_girl
merged_gh['HZ'] = ((merged_gh['height']/merged_gh['M'])**merged_gh['L'] -1)/(merged_gh['L'] * merged_gh['S'])
# print(merged_df_girl)
# print(merged_df_girl['HZ'])
# Now you can use merged_df_girl to see the updated DataFrame
height_df_girl = merged_gh
# Show the updated df_girl with the new column
print(height_df_girl)

         age id  height  L         M       S   StDev  SD5neg  SD4neg  SD3neg  \
bharani   83  4     141  1  120.3374  0.0452  5.4393  93.141   98.58  104.02

          SD2neg   SD1neg      SD0      SD1      SD2      SD3      SD4  \
bharani  109.459  114.898  120.337  125.777  131.216  136.655  142.094

               HZ
bharani  3.798795

In [449]:
weight_df_girl = pd.DataFrame()
weight_df_girl[['age','id','weight']] = df_girl[['age','id','weight']]
print(weight_df_girl)

         age id  weight
bharani   83  4      28

In [450]:
gw = pd.read_excel("WFA_girls.xlsx")
gw['age']=gw['Month']
gw = gw.drop('Month',axis=1)
print(gw)

         L        M        S  SD4neg  SD3neg  SD2neg  SD1neg     SD0     SD1  \
0  -0.4681  18.2579  0.14295  10.742  12.352  13.961  15.899  18.258  21.169
1  -0.4711  18.4329  0.14350  10.828  12.456  14.083  16.043  18.433  21.386
2  -0.4742  18.6073  0.14404  10.915  12.559  14.204  16.187  18.607  21.601
3  -0.4773  18.7811  0.14459  11.000  12.662  14.324  16.330  18.781  21.817
4  -0.4803  18.9545  0.14514  11.085  12.764  14.444  16.473  18.954  22.032
5  -0.4834  19.1276  0.14569  11.169  12.866  14.564  16.616  19.128  22.247
6  -0.4864  19.3004  0.14624  11.253  12.968  14.683  16.758  19.300  22.462
7  -0.4894  19.4730  0.14679  11.337  13.069  14.801  16.899  19.473  22.677
8  -0.4924  19.6455  0.14735  11.419  13.169  14.919  17.041  19.646  22.893
9  -0.4954  19.8180  0.14790  11.503  13.270  15.038  17.182  19.818  23.108
10 -0.4984  19.9908  0.14845  11.586  13.371  15.156  17.323  19.991  23.324
11 -0.5013  20.1639  0.14900  11.669  13.471  15.274  17.465  20.164  23.541
12 -0.5043  20.3377  0.14955  11.752  13.572  15.393  17.607  20.338  23.759
13 -0.5072  20.5124  0.15010  11.835  13.673  15.512  17.750  20.512  23.978
14 -0.5100  20.6885  0.15065  11.919  13.775  15.632  17.893  20.688  24.199
15 -0.5129  20.8661  0.15120  12.004  13.878  15.753  18.038  20.866  24.423
16 -0.5157  21.0457  0.15175  12.089  13.982  15.875  18.185  21.046  24.648
17 -0.5185  21.2274  0.15230  12.175  14.087  15.998  18.333  21.227  24.877
18 -0.5213  21.4113  0.15284  12.263  14.193  16.124  18.483  21.411  25.108
19 -0.5240  21.5979  0.15339  12.352  14.301  16.250  18.635  21.598  25.343
20 -0.5268  21.7872  0.15393  12.443  14.411  16.379  18.790  21.787  25.581
21 -0.5294  21.9795  0.15448  12.534  14.522  16.510  18.947  21.980  25.823
22 -0.5321  22.1751  0.15502  12.627  14.635  16.643  19.106  22.175  26.069
23 -0.5347  22.3740  0.15556  12.722  14.750  16.779  19.268  22.374  26.320
24 -0.5372  22.5762  0.15610  12.819  14.867  16.916  19.433  22.576  26.574
25 -0.5398  22.7816  0.15663  12.917  14.987  17.056  19.601  22.782  26.832
26 -0.5423  22.9904  0.15717  13.017  15.108  17.199  19.772  22.990  27.095
27 -0.5447  23.2025  0.15770  13.119  15.231  17.343  19.945  23.202  27.362
28 -0.5471  23.4180  0.15823  13.222  15.356  17.490  20.121  23.418  27.633
29 -0.5495  23.6369  0.15876  13.327  15.483  17.639  20.299  23.637  27.908
30 -0.5518  23.8593  0.15928  13.434  15.612  17.791  20.481  23.859  28.188
31 -0.5541  24.0853  0.15980  13.542  15.744  17.946  20.666  24.085  28.472
32 -0.5563  24.3149  0.16032  13.652  15.877  18.102  20.853  24.315  28.761
33 -0.5585  24.5482  0.16084  13.764  16.013  18.262  21.044  24.548  29.054
34 -0.5606  24.7853  0.16135  13.878  16.151  18.424  21.238  24.785  29.352
35 -0.5627  25.0262  0.16186  13.994  16.291  18.588  21.435  25.026  29.655
36 -0.5647  25.2710  0.16237  14.112  16.434  18.756  21.635  25.271  29.963
37 -0.5667  25.5197  0.16287  14.232  16.579  18.926  21.838  25.520  30.275
38 -0.5686  25.7721  0.16337  14.353  16.726  19.098  22.045  25.772  30.593
39 -0.5704  26.0284  0.16386  14.477  16.875  19.274  22.254  26.028  30.914
40 -0.5722  26.2883  0.16435  14.602  17.027  19.452  22.467  26.288  31.241
41 -0.5740  26.5519  0.16483  14.730  17.181  19.632  22.683  26.552  31.572
42 -0.5757  26.8190  0.16532  14.859  17.337  19.815  22.901  26.819  31.907
43 -0.5773  27.0896  0.16579  14.989  17.495  20.001  23.123  27.090  32.247
44 -0.5789  27.3635  0.16626  15.122  17.655  20.188  23.347  27.364  32.591
45 -0.5804  27.6406  0.16673  15.255  17.817  20.378  23.574  27.641  32.939
46 -0.5819  27.9208  0.16719  15.391  17.980  20.570  23.803  27.921  33.290
47 -0.5833  28.2040  0.16764  15.528  18.146  20.764  24.035  28.204  33.645
48 -0.5847  28.4901  0.16809  15.666  18.313  20.960  24.270  28.490  34.004
49 -0.5859  28.7791  0.16854  15.805  18.482  21.158  24.506  28.779  34.367
50 -0.5872  29.0711  0.16897  15.947  18.653  21.359  24.745  29.071  34.733
51 -0.5883  29.3663  0.16941  16.089  18.825  21.561  24.987  29.366  35.104
52 -0.5895  29.6646  0.16983  16.234  19.000  21.766  25.232  29.665  35.478
53 -0.5905  29.9663  0.17025  16.380  19.176  21.973  25.479  29.966  35.856
54 -0.5915  30.2715  0.17066  16.528  19.355  22.183  25.729  30.272  36.238
55 -0.5925  30.5805  0.17107  16.678  19.536  22.395  25.982  30.580  36.625
56 -0.5934  30.8934  0.17146  16.830  19.720  22.610  26.239  30.893  37.017
57 -0.5942  31.2105  0.17186  16.983  19.906  22.828  26.499  31.210  37.414
58 -0.5950  31.5319  0.17224  17.140  20.095  23.049  26.763  31.532  37.815
59 -0.5958  31.8578  0.17262  17.298  20.286  23.274  27.031  31.858  38.223

       SD2     SD3     SD4  age
0   24.817  29.468  34.118   61
1   25.090  29.823  34.555   62
2   25.363  30.178  34.992   63
3   25.637  30.535  35.433   64
4   25.911  30.893  35.876   65
5   26.185  31.253  36.321   66
6   26.460  31.614  36.768   67
7   26.735  31.977  37.218   68
8   27.011  32.342  37.673   69
9   27.288  32.708  38.129   70
10  27.566  33.077  38.589   71
11  27.845  33.448  39.051   72
12  28.126  33.822  39.519   73
13  28.409  34.200  39.991   74
14  28.695  34.581  40.468   75
15  28.983  34.968  40.953   76
16  29.276  35.360  41.443   77
17  29.572  35.757  41.942   78
18  29.871  36.158  42.446   79
19  30.176  36.568  42.960   80
20  30.485  36.983  43.482   81
21  30.799  37.406  44.013   82
22  31.118  37.836  44.554   83
23  31.443  38.274  45.104   84
24  31.773  38.719  45.664   85
25  32.109  39.171  46.232   86
26  32.450  39.632  46.813   87
27  32.796  40.099  47.401   88
28  33.149  40.574  48.000   89
29  33.507  41.058  48.610   90
30  33.870  41.549  49.228   91
31  34.239  42.048  49.857   92
32  34.614  42.555  50.497   93
33  34.996  43.072  51.149   94
34  35.383  43.596  51.809   95
35  35.776  44.128  52.481   96
36  36.176  44.670  53.164   97
37  36.582  45.220  53.858   98
38  36.994  45.778  54.562   99
39  37.412  46.343  55.275  100
40  37.836  46.918  55.999  101
41  38.265  47.499  56.734  102
42  38.702  48.092  57.481  103
43  39.142  48.688  58.233  104
44  39.589  49.293  58.997  105
45  40.041  49.906  59.771  106
46  40.497  50.525  60.552  107
47  40.958  51.149  61.340  108
48  41.424  51.781  62.138  109
49  41.895  52.419  62.944  110
50  42.370  53.063  63.755  111
51  42.851  53.714  64.578  112
52  43.335  54.371  65.407  113
53  43.826  55.035  66.244  114
54  44.321  55.705  67.089  115
55  44.823  56.385  67.947  116
56  45.329  57.069  68.809  117
57  45.843  57.764  69.685  118
58  46.363  58.465  70.568  119
59  46.890  59.177  71.465  120

In [451]:
merged_gw = pd.DataFrame()
# print(merged_gw)
merged_gw = pd.merge(weight_df_girl, gw, left_on='age', right_on='age', how='left')
merged_gw.set_index(df_girl.index, inplace=True)
# print(merged_gw)
# Calculate L * M * S and create a new column in df_girl
merged_gw['WZ'] = ((merged_gw['weight']/merged_gw['M'])**merged_gw['L'] -1)/(merged_gw['L'] * merged_gw['S'])
# print(merged_df_girl)
# print(merged_df_girl['WZ'])
# Now you can use merged_df_girl to see the updated DataFrame
weight_df_girl = merged_gw
# Show the updated df_girl with the new column
print(weight_df_girl)

         age id  weight       L        M        S  SD4neg  SD3neg  SD2neg  \
bharani   83  4      28 -0.5321  22.1751  0.15502  12.627  14.635  16.643

         SD1neg     SD0     SD1     SD2     SD3     SD4       WZ
bharani  19.106  22.175  26.069  31.118  37.836  44.554  1.41493

In [452]:
gb = pd.read_excel("BFA_girls.xlsx")
gb['age']=gb['Month']
gb = gb.drop('Month',axis=1)
print(gb)

          L        M        S  SD4neg  SD3neg  SD2neg  SD1neg     SD0     SD1  \
0   -0.8886  15.2441  0.09692  10.793  11.770  12.748  13.891  15.244  16.870
1   -0.9068  15.2434  0.09738  10.786  11.763  12.741  13.885  15.243  16.879
2   -0.9248  15.2433  0.09783  10.780  11.757  12.734  13.881  15.243  16.889
3   -0.9427  15.2438  0.09829  10.775  11.752  12.728  13.876  15.244  16.900
4   -0.9605  15.2448  0.09875  10.770  11.746  12.723  13.872  15.245  16.911
..      ...      ...      ...     ...     ...     ...     ...     ...     ...
163 -0.7819  21.3752  0.14405  12.977  14.731  16.484  18.648  21.375  24.905
164 -0.7738  21.3884  0.14414  12.971  14.729  16.488  18.657  21.388  24.920
165 -0.7658  21.4014  0.14423  12.964  14.728  16.491  18.665  21.401  24.935
166 -0.7577  21.4143  0.14432  12.958  14.726  16.494  18.673  21.414  24.951
167 -0.7496  21.4269  0.14441  12.951  14.724  16.497  18.681  21.427  24.965

        SD2     SD3     SD4  age
0    18.858  21.340  23.821   61
1    18.886  21.403  23.920   62
2    18.915  21.468  24.020   63
3    18.946  21.535  24.123   64
4    18.977  21.603  24.230   65
..      ...     ...     ...  ...
163  29.626  36.219  42.812  224
164  29.637  36.209  42.781  225
165  29.649  36.200  42.751  226
166  29.659  36.190  42.720  227
167  29.670  36.179  42.689  228

[168 rows x 13 columns]

In [453]:
bmi_df_girl = pd.DataFrame()
bmi_df_girl[['age','id','BMI']] = df_girl[['age','id','BMI']]
print(bmi_df_girl)

         age id    BMI
bharani   83  4  14.08

In [454]:
merged_gb = pd.DataFrame()
# print(merged_gb)
merged_gb = pd.merge(bmi_df_girl, gb, left_on='age', right_on='age', how='left')
merged_gb.set_index(df_girl.index, inplace=True)
# print(merged_gb)
# Calculate L * M * S and create a new column in df_girl
merged_gb['BZ'] = ((merged_gb['BMI']/merged_gb['M'])**merged_gb['L'] -1)/(merged_gb['L'] * merged_gb['S'])
# print(merged_gb)
# print(merged_gb['BZ'])
# Now you can use merged_df_girl to see the updated DataFrame
bmi_df_girl = merged_gb
# Show the updated df_girl with the new column
print(bmi_df_girl)

         age id    BMI       L        M      S  SD4neg  SD3neg  SD2neg  \
bharani   83  4  14.08 -1.2433  15.3871  0.107  10.762  11.745  12.728

         SD1neg     SD0     SD1     SD2     SD3     SD4        BZ
bharani  13.916  15.387  17.259  19.734  23.178  26.621 -0.877183

\
 GIRLS\
 HEIGHT FOR AGE - height_df_girl  -> HZ Z-Score\
 BMI FOR AGE - bmi_df_girl -> BZ Z-Score\
 WEIGHT FOR AGE - weight_df_girl -> WZ Z-Score\
 \
 BOYS\
 HEIGHT FOR AGE - height_df_boy -> HZ Z-Score\
 BMI FOR AGE - bmi_df_boy -> BZ Z-Score\
 WEIGHT FOR AGE - weight_df_boy -> WZ Z-Score\
\

In [455]:
print(height_df_girl)
print(bmi_df_girl)
print(weight_df_girl)

         age id  height  L         M       S   StDev  SD5neg  SD4neg  SD3neg  \
bharani   83  4     141  1  120.3374  0.0452  5.4393  93.141   98.58  104.02

          SD2neg   SD1neg      SD0      SD1      SD2      SD3      SD4  \
bharani  109.459  114.898  120.337  125.777  131.216  136.655  142.094

               HZ
bharani  3.798795
         age id    BMI       L        M      S  SD4neg  SD3neg  SD2neg  \
bharani   83  4  14.08 -1.2433  15.3871  0.107  10.762  11.745  12.728

         SD1neg     SD0     SD1     SD2     SD3     SD4        BZ
bharani  13.916  15.387  17.259  19.734  23.178  26.621 -0.877183
         age id  weight       L        M        S  SD4neg  SD3neg  SD2neg  \
bharani   83  4      28 -0.5321  22.1751  0.15502  12.627  14.635  16.643

         SD1neg     SD0     SD1     SD2     SD3     SD4       WZ
bharani  19.106  22.175  26.069  31.118  37.836  44.554  1.41493

In [456]:
print(height_df_boy)
print(bmi_df_boy)
print(weight_df_boy)

         age id  height  L         M        S   StDev  SD5neg  SD4neg  \
goutham   78  2     110  1  118.8700  0.04295  5.1055  93.343  98.448
john123   65  3     130  1  112.3895  0.04195  4.7147  88.816  93.531

          SD3neg   SD2neg   SD1neg     SD0      SD1      SD2      SD3  \
goutham  103.554  108.659  113.765  118.87  123.975  129.081  134.186
john123   98.245  102.960  107.675  112.39  117.104  121.819  126.534

             SD4        HZ
goutham  139.292 -1.737353
john123  131.248  3.735201
         age id    BMI       L        M        S  SD4neg  SD3neg  SD2neg  \
goutham   78  2  16.53 -1.1230  15.3825  0.08865  11.292  12.189  13.086
john123   65  3  11.24 -0.8322  15.2619  0.08490  11.207  12.114  13.021

         SD1neg     SD0     SD1     SD2     SD3     SD4        BZ
goutham  14.136  15.382  16.888  18.745  21.097  23.449  0.779658
john123  14.060  15.262  16.667  18.328  20.320  22.312 -4.102910
         age id  weight       L        M        S  SD4neg  SD3neg  SD2neg  \
goutham   78  2      20 -0.3804  21.6810  0.13554   12.96  14.855  16.751
john123   65  3      19 -0.2443  19.2132  0.13142   11.48  13.186  14.892

         SD1neg     SD0     SD1     SD2     SD3     SD4        WZ
goutham  18.997  21.681  24.918  28.862  33.723  38.583 -0.604660
john123  16.882  19.213  21.959  25.210  29.083  32.956 -0.085023

In [459]:
height_df_girl.to_excel('height_df_girl.xlsx', index=True, index_label='Name')
bmi_df_girl.to_excel('bmi_df_girl.xlsx', index=True, index_label='Name')
weight_df_girl.to_excel('weight_df_girl.xlsx', index=True, index_label='Name')
height_df_boy.to_excel('height_df_boy.xlsx', index=True, index_label='Name')
bmi_df_boy.to_excel('bmi_df_boy.xlsx', index=True, index_label='Name')
weight_df_boy.to_excel('weight_df_boy.xlsx', index=True, index_label='Name')